html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body,html {
    height: 100%
}
body {
    margin: 0
}
a {
    color: #1e91ff;
    text-decoration: none;
}
a {
    background-color: transparent;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html:not(.no-topnav) body {
    padding-top: 3.866666667rem
}
.btn--primary {
    background-color: #1432be;
    border-color: #1432be;
    color: #fff;
}
button, input {
    overflow: visible;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}
.mfp-arrow-left:before, .mfp-arrow-right:before, .search-filter__button--dropdown:after, .slick-next:before, .slick-prev:before, [class*=" icon-"], [class^=icon-] {
    font-family: MA_icons_set;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
    text-transform: none;
}
a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}
.btn--primary {
    background-color: #1432be;
    border-color: #1432be;
    color: #fff;
}
.btn, .paginate__button, .pagination__navigator {
    border: 1px solid transparent;
    border-radius: .2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: WorkSans,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;
    min-width: 9.666666667rem;
    padding: .866666667rem 1.6rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    vertical-align: middle;
}
.search-bar__btn--prices .icon-search {
    font-size: 2.13rem;
    line-height: 2.666666667rem;
}
sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}
@font-face {
    font-family: MA_icons_set;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MA_icons_set.gbay4q.ttf) format("truetype"),url(intern_viettel/fonts/MA_icons_set.gbay4q.ttf) format("eot")
}
button,select {
    text-transform: none
}
*,:after,:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}
[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}
.btn-reset, .topnav-submenu__button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
}
progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
.text--bold {
    font-family: WorkSans,sans-serif;
    font-weight: 600;
}
.text--base, .text--normal {
    color: #3a3a3a;
    font-family: WorkSans,sans-serif;
}
body, html {

color: #3a3a3a;

font-family: WorkSans,sans-serif;

font-size: 15px;

font-weight: 400;

line-height: 1.5;

-webkit-font-smoothing: antialiased;

letter-spacing: -.2px;

text-rendering: optimizeLegibility;
}
a {
    color: #1e91ff;
    text-decoration: none;
    background-color: transparent;
}
* {
    letter-spacing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
ol, ul {
    list-style-position: inside;
    margin-bottom: .666666667rem;
    padding-left: 0;
}
/*===========================NAV=====================================*/
 #page-wrapper {
    height: 100%;
}
.page-wrapper{
    position:relative;
}
.topnav {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.topnav-submenu__button {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    line-height: 1.6rem;
    min-height: 2.13rem;
    padding: .53rem 0;
    text-align: left;
    letter-spacing:1.2px;
    color:#000000c4;
}


.topnav-submenu__item {
    color: inherit;
    display: block;
    line-height: 1.6rem;
    padding: .53rem 0 .53rem 1.6rem;
}
.vertical-align-middle {
    vertical-align: middle;
}
img {
    max-width: 100%;
}
/*===========================NAV======================================*/
/*===============================SEARCH TOOLBAR =========================*/
.twitter-typeahead {
     width: 100%; 
}
.toolbar-prices-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 4.13rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1.066666667rem;
}
.search-bar--prices {
    max-width: 28rem;
}
.search-bar {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}
.search-bar__input--prices {
    border-radius: .2rem 0 0 .2rem !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box ;
    font-size: 1.066666667rem !important;
    height: 2.8rem !important;
    line-height: 1.1 !important;
    padding: 0 .53rem !important;
    width: 100% !important;
}
.search-bar__input {
    -webkit-appearance: none;
    border: 1px solid #e2e2e2;
    border-radius: .2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 1.13rem;
    height: 3.73rem;
    line-height: 1.3rem;
    padding: 0 1.066666667rem;
    text-overflow: ellipsis;
}

.search-bar__btn {
    border-radius: 0 .2rem .2rem 0;
    font-size: 1.066666667rem;
    height: 2.8rem;
    line-height: 2.8rem;
    min-width: 0;
    padding: 0 .53rem;
    width: 3.2rem;
}
.search-bar__btn--prices {
    border-radius: 0 .2rem .2rem 0;
    padding: 0;
    width: 3.466666667rem;
}
.icon-search:before {
    content: "\e8b6";
}
.search-bar__btn i {
    font-size: 23px;
    padding: 8px;
}
/*===============================SEARCH TOOLBAR===========================*/
/*===============================CONTENT==================================*/
.text--h4{
    color: #3a3a3a;
    font-family: WorkSans,sans-serif;
    font-weight: 500;
    line-height: 1.6rem;
}
 .l-container {
    height: calc(100% - 8.13rem - 2px);
    position: relative;
}
 body .l-container {
    height: calc(100% - 4.13rem - 1px);
}
.toggleview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}
.toggleview>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    height: 100%;
    overflow: auto;
    z-index: 0;
}
.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .53rem .266666667rem;
}
.loading-wrapper {
    position: relative;
}
.main-container {
    background-color: #f2f3f4;
}
.container>:not(.container--column):not(.container--wrap) {
    margin-bottom: .53rem;
    margin-top: .53rem;
}
.container>:not(.container--row) {
    margin-left: .8rem;
    margin-right: .8rem;
}
.container--no-vertical-gutter {
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.container--half {
    margin: auto;
    max-width: 53.3rem;
}
.container--column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.container--column>:not(.container--column):not(.container--wrap) {
    margin-bottom: .53rem;
    margin-top: .53rem;
}
.breadcrumb {
    text-align: center;
}
.container--column>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.breadcrumbs {
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
.breadcrumbs li:not(:last-child) {
    margin-right: .53rem;
}
.breadcrumbs li {
    color: #9a9a9a;
    display: inline-block;
    font-size: .93rem;
    position: relative;
}
.breadcrumbs li:not(:first-child) {
    padding-left: .53rem;
}
.breadcrumbs li:first-child:before {
    content: "";
    padding-right: 0;
}
.breadcrumbs li:before {
    content: "";
    font-family: MA_icons_set;
    left: -.4rem;
    position: absolute;
}
.breadcrumbs a {
    color: #3a3a3a;
    font-family: WorkSans,sans-serif;
    font-weight: 400;
    text-decoration: none;
}
a :not(.pointer-event) {
    pointer-events: none;
}
.panel {
    background: #fff;
    border-radius: .1rem;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    display: block;
    position: relative;
}
.nav-tabs {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 1.3rem auto 0;
    padding: 0;
    position: relative;
}
.nav-tabs__content {
    position: relative;
    white-space: nowrap;
}
.nav-tabs:not(.nav-tabs--separated) .nav-tabs__content:before {
    background: #eee;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.nav-tabs__item {
    color: #9a9a9a;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-right: 1.066666667rem;
    padding-bottom: .53rem;
    text-align: center;
    -webkit-transition: border-color .3s ease-in-out,color .3s ease-in-out;
    transition: border-color .3s ease-in-out,color .3s ease-in-out;
    white-space: nowrap;
}
.nav-tabs__item--active {
    color: #3a3a3a;
    overflow-x: visible;
    position: relative;
}
.nav-tabs__item:last-child {
    margin-right: 0;
}

.nav-tabs__item:after {
    background: transparent;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.nav-tabs__item--active:after {
    background-color: #1e91ff;
}
.prices-summary {
    text-align: center
}
.prices-summary__values {
    margin: 0 1.3rem;
}
.prices-summary__title {
    color: #3a3a3a;
    font-family: WorkSans,sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
    padding: 2.4rem 0 .4rem;
}
.prices-summary__sell-prices {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.prices-summary__disclaimer {
    line-height: 1;
    padding-bottom: .4rem
}
.prices-summary__disclaimer .text--small {
    color: #9a9a9a;
    display: inline-block;
    margin: 0;
    vertical-align: middle
}

.prices-summary__disclaimer a {
    font-size: .866666667rem;
    margin-left: .13rem;
    outline: none;
    vertical-align: middle;
    white-space: nowrap
}

.prices-summary__disclaimer a .icon-info_outline {
    font-size: 1.3rem;
    vertical-align: middle
}
.prices-summary__values {
    margin: 0 1.3rem;
}

.prices-summary__rental-prices,.prices-summary__sell-prices {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.prices-summary__apartment-prices,.prices-summary__house-prices,.prices-summary__rent-prices {
    padding: 1.3rem 0
}

.prices-summary__apartment-icon,.prices-summary__house-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 6rem
}

.prices-summary__apartment-icon .text--small,.prices-summary__house-icon .text--small {
    margin: 0;
    text-transform: uppercase
}

.prices-summary__price-range {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.066666667rem;
    text-align: left;
    vertical-align: middle
}

.prices-summary__price-range>.text--small {
    line-height: 1.2rem
}

.prices-summary__price-range>.big-number {
    line-height: 1.866666667rem
}

.prices-summary__price-range>:nth-child(3) {
    line-height: 1.6rem;
    padding-bottom: .4rem;
    position: relative
}

.prices-summary__buttons {
    margin-bottom: 1.6rem;
    padding-top: 1.066666667rem
}
.prices-summary--address {
    padding: 0
}

.prices-summary--address .prices-summary__title--address {
    padding: 2.13rem 0 .4rem
}

.prices-summary--address .prices-summary__right-panel {
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    border-radius: .13rem .13rem 0 0;
    height: 16.666666667rem;
    width: 100%
}
.prices-summary__apartment-icon, .prices-summary__house-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 6rem;
}
.prices-summary__apartment-icon .text--small, .prices-summary__house-icon .text--small {
    margin: 0;
    text-transform: uppercase;
}
.prices-summary__price-range {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.066666667rem;
    text-align: left;
    vertical-align: middle;
}
.prices-summary__price-range>.text--small {
    line-height: 1.2rem;
}
.prices-accuracy {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: .266666667rem;
}
.prices-accuracy>li:not(:last-child) {
    margin-right: .2rem;
}
.prices-accuracy>li.green {
    background-color: #00c391;
}
.prices-accuracy>li {
    background-color: #e2e2e2;
    border-radius: 50%;
    display: inline-block;
    height: .466666667rem;
    width: .466666667rem;
}
.prices-summary__price-range>.big-number {
    line-height: 1.866666667rem;
}
.big-number, .title-row {
    font-family: WorkSans,sans-serif;
    font-weight: 600;
}
.big-number {
    color: #3a3a3a;
    font-size: 1.6rem;
    line-height: 1.5;
}
.prices-accuracy-container--prices-page {
    color: #9a9a9a;
    font-size: .93rem;
    line-height: 1.2rem;
    padding-top: .4rem;
}
.hide {
    display: none!important;
    visibility: hidden;
}
.container--column>:not(.container--column):not(.container--wrap) {
    margin-bottom: .53rem;
    margin-top: .53rem;
}
.panel__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 3.2rem;
    padding: 0 1.3rem;
    width: 100%;
}
a.btn--secondary:visited {
    color: #1432be;
}
.btn--secondary {
    background-color: #fff;
    border-color: #1432be;
    color: #1432be;
}
.arrow-link {
    display: inline-block;
    padding-right: 1.6rem;
    position: relative;
    white-space: nowrap;
    font-weight: bold;
}
.arrow-link:after {
    content: "";
    font-family: MA_icons_set;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    top: -.266666667rem;
}
.text--h4, .text--h5, .title--h4, .title--h5 {
    color: #3a3a3abf;
    font-family: WorkSans,sans-serif;
    font-weight: bold;
    line-height: 1.6rem;
}
.panel__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 3.2rem;
    padding: 0 1.3rem;
    width: 100%;
}
.text--h4, .title--h4 {
    font-size: 1.111111rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.prices-evolution__trends {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1.066666667rem 0;
}
.prices-evolution__trend {
    padding: 0 1.066666667rem;
    text-align: center;
}
.prices-evolution__trend>.trend__value--high {
    color: #00c391;
}
.panel__footer, .panel__footlink {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #e2e2e2;
    font-size: .93rem;
    padding: .9rem 1.3rem;
    text-align: center;
}
.panel__footer>p {
    margin-bottom: 0;
    margin-top: 0;
}
.dvf-access-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.066666667rem 1.3rem;
}
.dvf-access-block--past-sales-report .dvf-access-block__img, .dvf-access-container--past-sales-report img {
    background-color: #eee;
    padding: 1.066666667rem .53rem 0;
}
.dvf-access-block .dvf-access-block__img {
    margin-right: 1.066666667rem;
    width: 10.4rem;
}

.panel__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 3.2rem;
    padding: 0 1.3rem;
    width: 100%;
}
.panel__header--best-realtors {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.margin, .margin-bottom {
    margin-bottom: .53rem!important;
}
.margin-bottom-double, .margin-double {
    margin-bottom: 1.066666667rem!important;
}
.panel__cover, .panel__header--best-realtors>* {
    max-width: 100%;
}
.no-margin, .no-margin-right {
    margin-right: 0!important;
}
.realtor-dropdown__header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1e91ff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.realtor-dropdown__header>.btn--link {
    cursor: pointer;
    font-weight: 400;
}
.btn--link, .btn--link-left, .paginate__button, .pagination__navigator {
    background-color: transparent;
    border: 0;
    color: #1e91ff;
    font-weight: 600;
    min-width: auto;
    padding: 0;
}
.realtor-dropdown__header .icon-expand_more {
    font-size: 1.3rem;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    vertical-align: middle;
}
.icon-expand_more:before {
    content: "\e5cf";
}
.realtor-dropdown__container {
    margin-top: .53rem;
}
.realtor-dropdown__content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
}
.realtor-list-item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-height: 6.4rem;
    padding: 1.066666667rem;
    position: relative;
}
.realtor-list-item--contact {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: none;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.full-width {
    width: 100%;
}
.realtor-list-item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-height: 6.4rem;
    padding: 1.066666667rem;
    position: relative;
}
.realtor-list-item--contact {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}
.realtor-list-item__clickable-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.realtor-list-item__logo {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: #fff;
    display: block;
    margin-right: 1.066666667rem;
    min-width: 6rem;
    text-align: center;
    width: 6rem;
}


.realtor-list-item__info {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 1.066666667rem;
    min-width: 0;
    width: 100%;
}

.realtor-list-item--contact .icon-expand_more {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #9a9a9a;
    font-size: 2.13rem;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}
.realtor-list-item__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.realtor-list-item__title-name {
    color: #3a3a3a;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.svg-sprite-star--full,.svg-sprite-little-star--full{
    background: url(../image/sprite.svg) no-repeat;
}
.rating {
    font-size: 0;
}
.rating__stars {
    display: inline-block;
    font-size: 0;
    margin-right: .3rem;
    min-width: 4rem;
    vertical-align: -1px;
    word-spacing: .066666667rem;
}
.rating__stars {
    text-decoration: none;
}
.svg-sprite {
    background-clip: border-box;
    display: inline-block;
}
.rating__star {
    margin-left: -.13rem;
    vertical-align: -.13rem;
}
.svg-sprite-star--full {
    background-position: 96.96969696969697% 58.62068965517241%;
    height: 20px;
    width: 20px;
}
.rating__count {
    color: #3a3a3a;
    font-size: 15px;
    white-space: nowrap;
}
.realtor-list-item__kpis--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 40%;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.kpi {
    display: block;
    font-size: 15px;
}
.kpi--realtor {
    pointer-events: none;
    position: relative;
    z-index: 1;
}
.realtor-list-item__kpis--desktop .kpi--realtor {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
}
.kpi__text {
    vertical-align: middle;
    line-height: 0.3;
}
.text--muted {
    color: #9a9a9a;
}
.kpi__value {
    background: #1b365d;
    border-radius: .2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: inline-table;
    font-family: WorkSans,sans-serif;
    font-size: .93rem;
    font-weight: 600;
    line-height: 1.3rem;
    margin-right: .3em;
    min-width: 1.3rem;
    padding: 0 .2rem;
    text-align: center;
}
.kpi__value--realtor {
    background-color: transparent;
    color: #3a3a3a;
    display: inline-block;
    line-height: 1;
    margin: 0;
    min-width: 0;
    padding: 0 .53rem 0 0;
    vertical-align: middle;
}
.kpi, .no-touch .kpi:hover {
    color: #3a3a3a;
}
.realtor-list-item__kpis--desktop .kpi--realtor:first-child {
    border-left: 1px solid #e2e2e2;
}
.padding, .padding-left {
    padding-left: .53rem;
}
.panel__footer--grey {
    background: #f2f3f4;
}
.list-references--container {
    overflow: hidden;
    position: relative;
}
.list-references {
    border-top: .066666667rem solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.066666667rem 1.3rem;
    position: relative;
}
.list-references__picture {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.list-references__description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}
.list-references--container .list-references__realtor {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 1.066666667rem;
    pointer-events: none;
    width: 11.73rem;
    z-index: 1;
}
.list-references--container .list-references__realtor--small {
    width: 11.2rem;
}
.media__figure {
    display: block;
    margin-right: 1.066666667rem;
    position: relative;
    vertical-align: top;
}
.media__tag {
    border-radius: .1rem;
    color: #fff;
    font-size: .73rem;
    left: .266666667rem;
    line-height: 1.3rem;
    padding: 0 .53rem;
    position: absolute;
    text-transform: uppercase;
    top: .266666667rem;
}
.media__sold {
    background: #1e91ff;
}
.svg-sprite-little-star--full {
    background-position: 100% 76.35135135135135%;
    height: 14px;
    width: 14px;
}
.svg-sprite {
    background-clip: border-box;
    display: inline-block;
}
.container--row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.container--column>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.container__item--half {
    -webkit-box-flex: 6;
    -webkit-flex: 6 6;
    -ms-flex: 6 6;
    flex: 6 6;
    -webkit-flex-basis: calc(50% - 1.6rem);
    -ms-flex-preferred-size: calc(50% - 1.6rem);
    flex-basis: calc(50% - 1.6rem);
    max-width: calc(50% - 1.6rem);
}
.container--row>:not(.container--row) {
    margin-left: .8rem;
    margin-right: .8rem;
}
.button-listings .container__item--half {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: inherit;
}
.button-listings a {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.066666667rem 1.3rem;
}
.button-listings .container__item--half a {
    background-color: #1e91ff;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}
.button-listings .container__item--half:first-child {
    margin-left: 0;
}
.button-listings .container__item--half:last-child {
    margin-right: 0;
}
.button-listings a .reference-count {
    font-size: 2.13rem;
    margin-right: 1.3rem;
    width: 5.3rem;
}
.button-listings__text {
    font-size: 1.13rem;
}
.iti-intro {
    margin: 0 1.6rem;
}.margin-bottom-double, .margin-double {
    margin-bottom: 1.066666667rem!important;
}
.margin-top-triple, .margin-triple {
    margin-top: 1.6rem!important;
}
.text--center {
    text-align: center;
}
.iti-intro__tag {
    background-color: #1e91ff;
    border-radius: 13.34rem;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    height: 1.87rem;
    line-height: 1.6rem;
    padding: 0.15rem .8rem;
}
.iti-graph {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 3.3rem 2.666666667rem 0;
    position: relative;
}
.iti-graph__bar-background {
    background: #e2e2e2;
    height: 100%;
}
.iti-graph__bar-container {
    color: #fff;
    font-weight: 500;
    height: 2.13rem;
    line-height: .75;
    position: relative;
}
.iti-graph__bar-background, .iti-graph__bar-container {
    border-radius: 13.3rem;
    overflow: hidden;
    width: 100%;
}

.iti-graph__bar-background, .iti-graph__bar-container {
    border-radius: 13.3rem;
    overflow: hidden;
    width: 100%;
}
.iti-graph__bar-background .iti-graph__buyers, .iti-graph__bar-background .iti-graph__properties-sale {
    color: #3a3a3a;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.iti-graph__bar-background .iti-graph__buyers {
    left: .8rem;
}
.iti-graph__bar-background .iti-graph__properties-sale {
    right: .8rem;
}
.iti-graph__progress-bar {
    background: #1b365d;
    border-bottom-left-radius: 13.3rem;
    border-top-left-radius: 13.3rem;
    bottom: 0;
    left: 0;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50%;
}
.iti-graph__progress-bar .iti-graph__buyers, .iti-graph__progress-bar .iti-graph__properties-sale {
    color: #fff;
}
.iti-graph__bar-separator {
    background: #fff;
    bottom: 0;
    left: calc(50% - .06667rem);
    opacity: .3;
    position: absolute;
    top: 0;
    width: .13rem;
}
.iti-graph__indicator {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -.066666667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin-left: -3.3rem;
    position: absolute;
    width: 6.666666667rem;
    z-index: 1;
}
.iti-informations {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 1.6rem;
}
.margin-quadruple, .margin-top-quadruple {
    margin-top: 2.13rem!important;
}
.iti-informations__container {
    border: .066666667rem solid #e2e2e2;
    border-radius: .266666667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.iti-informations__content {
    padding: 1.5rem;
}
.iti-informations__head {
    line-height: 1.6rem;
    margin: 0 0 .53rem;
}
.iti-informations__list {
    list-style: none;
    margin: 0;
}
.iti-informations__list-item {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    line-height: 1.6rem;
}
.iti-informations__icon {
    height: 1.6rem;
    margin-right: .53rem;
    width: 1.6rem;
}
.iti-informations__list-item+.iti-informations__list-item {
    margin-top: .8rem;
}
.iti-help {
    font-size: .93rem;
    margin: 0 1.6rem;
}
.margin-bottom-triple, .margin-triple {
    margin-bottom: 1.6rem!important;
}
.iti-dropdown__container {
    border-bottom: 1px solid #e2e2e2;
    margin-top: .666666667rem;
    padding-bottom: 1.6rem;
}
.iti-dropdown__wrapper {
    margin: auto!important;
    max-width: 26.666666667rem;
}
.iti-dropdown__header {
    color: #1e91ff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.iti-dropdown__content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
}
.padding-bottom-double, .padding-double {
    padding-bottom: 1.066666667rem;
}
.padding-double, .padding-top-double {
    padding-top: 1.066666667rem;
}
.iti-fact {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1.6rem 0!important;
    max-width: 100%;
    padding: 0 1.3rem;
}
.iti-dropdown__header>.btn--link, .iti-dropdown__header>.btn--link-left, .iti-dropdown__header>.paginate__button, .iti-dropdown__header>.pagination__navigator {
    cursor: pointer;
}
.iti-fact--right {
    border-left: 1px solid #e2e2e2;
}
.margin-double, .margin-right-double {
    margin-right: 1.066666667rem!important;
}
.text-big {
    font-size: 1.13rem;
}
.icon-location_city:before {
    content: "\e7f1";
}
.icon-home:before {
    content: "\e88a";
}
.price-details__head {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.price-details__head--icon {
    color: #1e91ff;
    font-size: 2.13rem;
    margin-right: .53rem;
}
.price-details__head--text {
    margin:0;
    padding:0;
    font-size: 17px;
    line-height: 1.6rem;
    color: #000000bf;
}
.accordion {
    background-color: #fff;
    border: .07rem solid #eee;
    border-radius: 0;
    color: #1b365d;
    cursor: pointer;
    font-family: WorkSans,sans-serif;
    font-size: 15px;
    font-weight: 600;
    min-height: 3.73rem;
    outline: none;
    padding: 0 1.3rem;
    text-align: left;
    width: 100%;
}
.accordion--no-border {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.accordion__header {
     -webkit-box-align: center; 
     -webkit-align-items: center; 
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.accordion__header .icon-expand_more {
    color: #9a9a9a;
    font-size: 2.13rem;
    margin-right: -.53rem;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}
.accordion__header .icon-expand_more {
    color: #9a9a9a;
    font-size: 30px;
    margin-right: -.53rem;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}
.accordion-panel {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    padding: 0 1.2rem;
    -webkit-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
}
.partner-block {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 1.333333333rem;
    text-align: center;
}
.partner-block .container__item--half .media__body {
    margin: auto;
    max-width: 17.666667rem;
}
.prefooter__section-item {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: .533333333rem;
    color: #3a3a3a;
    cursor: pointer;
    text-decoration: none;

}
.prefooter__section {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.6rem;
    -moz-column-gap: 1.6rem;
    column-gap: 1.6rem;
    margin-bottom: 2.133333333rem;
}
.topnav__branding {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3.866666667rem
}
.realtor-list-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 1.066666667rem 0;
}
.realtor-list-contact__profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 30.533333333rem;
    padding: 1.066666667rem 1.066666667rem 1.066666667rem 0;
}
.realtor-list-contact__map-container--small {
    -webkit-flex-basis: 16.933333333rem;
    -ms-flex-preferred-size: 16.933333333rem;
    flex-basis: 16.933333333rem;
}
.realtor-list-contact__map-container {
    margin: 0;
    overflow: hidden;
}
.flex-justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.realtor-list-contact__tagline {
    font-size: 1.133333333rem;
    margin: 1.066666667rem 0;
    text-align: center;
}
.realtor-list-contact__avatar {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 3.866666667rem;
    min-width: 0;
    width: 3.866666667rem;
}   
.realtor-list-contact__info {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.realtor-list-contact__tagline {
    font-size: 1.133333333rem;
    margin: 1.066666667rem 0;
    text-align: center;
}
.no-touch .btn--primary:hover {
    background-color: #0f2690;
    border-color: #0f2690;
    color: #fff;
    text-decoration: none;
}
.realtor-list-item--contact .icon-expand_more--contact-open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.iti-dropdown__header .icon-expand_more {
    font-size: 21px;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    vertical-align: middle;
}
.iti-dropdown__header.active .icon-expand_more {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion.active .icon-expand_more {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion__header .icon-expand_more {
    color: #9a9a9a;
    font-size: 2.133333333rem;
    margin-right: -.533333333rem;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}
.mobile-nav-toggler--active .mobile-nav-toggler__bars {
    background-color: transparent;
}
.mobile-nav-toggler__bars:after, .mobile-nav-toggler__bars:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 100%;
}
.mobile-nav-toggler__bars:before {
    top: -6px;
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,-webkit-transform;
    transition-property: top,transform;
    transition-property: top,transform,-webkit-transform;
}
.mobile-nav-toggler--active .mobile-nav-toggler__bars:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-nav-toggler__bars:after, .mobile-nav-toggler__bars:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 100%;
}
.mobile-nav-toggler__bars:after {
    -webkit-transition-property: bottom,-webkit-transform;
    transition-property: bottom,-webkit-transform;
    transition-property: bottom,transform;
    transition-property: bottom,transform,-webkit-transform;
}
.mobile-nav-toggler__bars:after, .mobile-nav-toggler__title:after {
    bottom: -6px;
}
.mobile-nav-toggler--active .mobile-nav-toggler__bars:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.topnav-submenu--hidden {
    display: none;
}

/*===============================CONTENT==================================*/
/*==============================FOOTER===================================*/
.footer {
    background-color: #1b365d;
}
.footer__menu-item, .footer__menu-item:active, .footer__menu-item:focus, .footer__menu-item:visited {
    color: #ffffffcc;
}
.footer__menu-item {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .533333333rem;
    cursor: pointer;
    text-decoration: none;
}
.footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 85.333333333rem;
    padding: 1.6rem 1.066666667rem 0;
}
.toggleview .footer__content {
    padding: 1.6rem 1.333333333rem 0;
}
.footer__menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 32%;
    -ms-flex: 1 1 32%;
    flex: 1 1 32%;
    margin: 0 .533333333rem 1.066666667rem;
}
.footer__menu-header {
    color: #fff;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.066666667rem;
}
.footer__menu-item {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .533333333rem;
    cursor: pointer;
    text-decoration: none;
}
.footer__social {
    margin: 2.666666667rem 0;
    text-align: center;
    width: 100%;
}
.footer__social .icon {
    background-color: hsla(0,0%,100%,.6);
    border-radius: 100%;
    color: #1b365d;
    font-size: 1.333333333rem;
    margin: .333333333rem;
    padding: .666666667rem;
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.footer__lastline {
    color: hsla(0,0%,100%,.5);
    margin-bottom: .533333333rem;
    text-align: center;
    width: 100%;
}
.footer__happyAtWork-link {
    display: inline-block;
    margin-bottom: 1.333333333rem;
}
.footer__happyAtWork-link img {
    max-width: 10rem;
}
.btn--prices-map {
    border-color: #1432be;
    font-size: .8rem;
    height: 2.8rem;
    min-width: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 4.266666667rem;
}
.btn--prices-map, .no-touch .btn--bordered:hover {
    background-color: #fff;
    color: #1432be;
}
.mobile-nav-toggler {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: .533333333rem;
    z-index: 42;
}
.mobile-nav-toggler__bars {
    background-color: #000;
    height: 2px;
    position: relative;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    width: 20px;
}
.mobile-nav-toggler__bars:after, .mobile-nav-toggler__bars:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 100%;
}
.mobile-nav-toggler__bars:before {
    top: -6px;
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,-webkit-transform;
    transition-property: top,transform;
    transition-property: top,transform,-webkit-transform;
}

.mobile-nav-toggler__bars:after, .mobile-nav-toggler__bars:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 100%;
}
.mobile-nav-toggler__bars:after {
    -webkit-transition-property: bottom,-webkit-transform;
    transition-property: bottom,-webkit-transform;
    transition-property: bottom,transform;
    transition-property: bottom,transform,-webkit-transform;
}
.mobile-nav-toggler__bars:after, .mobile-nav-toggler__title:after {
    bottom: -6px;
}
/*============================RESPONSIVE=================================*/
@media (min-width: 46.9375em){
    .realtor-list-item__info--contact {
        padding-right: .53rem;
    }
    .hide-lg {
        display: none!important;
    }
    .realtor-list-item__kpis--mobile {
        display: none;
    }
    .kpi__value--realtor {
        font-size: 1.3rem;
        min-width: 3.2rem;
        text-align: center;
    }   
    .toggleview .footer {
        margin: 0 -1.066666667rem -1.066666667rem;
    } 
    .realtor-list-item__kpis--desktop .kpi--realtor {
        padding-left: 1.066666667rem;
    }
    .realtor-list-contact__avatar {
        margin-right: 1.066666667rem;
    }
}
@media (max-width: 46.875em) {
    .prices-summary__rent-prices, .prices-summary__sell-prices--container div:only-child {
        border: 1px solid #eee;
        border-radius: .4rem;
    }
    .prices-summary__house-prices {
        border-bottom:1px solid #eee;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    .prices-summary__apartment-prices {
        border: 1px solid #eee;
        border-radius: .4rem .4rem 0 0;
    }
    .prices-summary__apartment-icon .text--sm, .prices-summary__house-icon .text--sm {
        font-size: 10px;
    }
    .prices-summary__building--small,.prices-summary__house--small{
        display:none;
    }
    .prices-summary__buttons {
        margin-bottom:0
    }
    .realtor-list-item__logo {
        width: 5.333333333rem;
    }
    .prices-summary__buttons .btn,.prices-summary__buttons .paginate__button,.prices-summary__buttons .pagination__navigator {
        width: 100%
    }
    .realtor-list-item__logo {
        width: 5.333333333rem;
    }
    .realtor-list-item__kpis--desktop {
        display: none;
    }
    .realtor-list-item__title {
        margin-right: 0;
    }
    .rating__count.rating__count--contact.hide-lg {
        display: none;
    }
    .rating__stars.rating__stars--contact.hide-sm>.hide-sm {
        display: none;
    }
    .container__item-sm--full {
        -webkit-box-flex: 12;
        -webkit-flex: 12 12 100%;
        -ms-flex: 12 12 100%;
        flex: 12 12 100%;
        max-width: 100%;
    }
}
@media (min-width: 64em){
    .realtor-list-item__kpis--desktop .kpi--realtor {
        padding-left: 1.6rem;
    }
}
@media (min-width: 67.563em){
    .prices-summary__sell-prices--container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .prices-summary__apartment-prices, .prices-summary__house-prices {
        padding-left: .53rem;
        padding-right: .53rem;
    }
    .prices-summary__apartment-prices, .prices-summary__house-prices, .prices-summary__rent-prices {
        padding: 1.3rem 0;
    }
}
@media (min-width: 751px){
    .prices-summary__apartment-icon img, .prices-summary__house-icon img {
        width: 3.73rem;
    }
    .prices-summary__building--small, .prices-summary__house--small {
        display: none;
    }

}
@media (min-width: 76.875em){
    .toolbar-prices-switch {
        display: none!important;
    }
}
@media (max-width:76.875em){
    .toggleview>:last-child {
        display: none;
    }
    .toggleview>* {
        margin-bottom: 0!important;
        margin-top: 0!important;
    }
}
@media (max-width: 1149px) and (min-width: 46.9375em){
    .topnav__menu {
        max-width: 25.733333333rem;
    }
    body.topnav-opened:before {
        background: rgba(0,0,0,.7);
        bottom: 0;
        content: "";
        left: 0;
        position: fixed;
        right: 0;
        top: 3.866666667rem;
        z-index: 5;
    }
}
@media (max-width: 1149px){
    
    .topnav-submenu--separated:not(.topnav-submenu--opened) {
        margin-top: 1.066666667rem;
    }
    .topnav-submenu__items {
        display: none;
        list-style: none;
    }
    .topnav-submenu__button {
        position: relative;
        width: 100%;
    }
    .topnav__branding {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 1.066666667rem;
        position: relative;
        z-index: 42;
    }
    .topnav__menu {
        background-color: #fff;
        bottom: 0;
        display: none;
        height: calc(100vh - 3.86667rem);
        padding: 1.6rem;
        position: absolute;
        right: 0;
        top: 3.866666667rem;
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        -webkit-transition: -webkit-transform 2s ease-in-out;
        transition: -webkit-transform 2s ease-in-out;
        transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out,-webkit-transform 2s ease-in-out;
        width: 100%;
        z-index: 41;
    }
    .topnav__menu--visible {
        display: block;
    }
    .topnav__menu--sliding {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .topnav-submenu__button {
        position: relative;
        width: 100%;
    }
    .topnav-submenu__button--opened {
        background-position: 0;
        font-weight: 600;
        padding: .533333333rem 0 .533333333rem 1.6rem;
    }
    .topnav-submenu__button:before {
        background-image: url(../image/chevron.svg  );
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 10px 16px;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
    }
   
    .topnav-submenu__button--opened:before {
        left: 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .topnav-submenu__items--visible {
        display: block;
    }
    .topnav-submenu__button--raw:before {
        display: none;
    }
}
@media (min-width: 1150px){
    .topnav-submenu:hover .topnav-submenu__items{
        display:block;
    }
    .mobile-nav-toggler {
        display: none;
    }
    .topnav {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
         box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); 
         display: -webkit-box; 
         display: -webkit-flex; 
        display: -ms-flexbox;
         display: flex; 
        padding: 0 1.6rem;
       
    }
    .topnav__menu {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .topnav-submenu {
        position: relative;
    }
    .topnav-submenu__button {
        padding: .53rem;
    }
    .topnav-submenu__items, .topnav-submenu__items:after, .topnav-submenu__items:before {
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .topnav-submenu__items {
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
        padding: 1.066666667rem 0;
        top: 1.6rem;
        z-index: 10;
    }
    .topnav-submenu__items {
        display: none;
        list-style: none;
    }
    .topnav-submenu__items:before {
        border-color: transparent transparent #e2e2e2;
        top: -1.066666667rem
    }

    .topnav-submenu__items:after {
        border-color: transparent transparent #fff;
        top: -1rem
    }
    .topnav-submenu__item {
        padding: .53rem 1.6rem;
    }
    .topnav-submenu__items,.topnav-submenu__items:after,.topnav-submenu__items:before {
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .topnav-submenu__items:after,.topnav-submenu__items:before {
        border-style: solid;
        border-width: 8px;
        content: "";
        display: block;
        height: 0;
        width: 0
    }
    .topnav-submenu__item:not(.topnav-submenu__item--wrap-whitespace) {
        white-space: nowrap; 
    }
    .topnav-submenu--separated.topnav-submenu {
        margin-left:auto;
    }
    .topnav__branding {
        margin-right: 1.066666667rem;
    }
    
    .topnav-submenu__items {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
        top: 1.6rem;
        z-index: 10;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(226, 226, 226);
        border-image: initial;
        border-radius: 4px;
        padding: 1.06667rem 0px;
    }
}


/*============================RESPONSIVE=================================*/